@using bd_course.ViewModels
@model Artist
<tr>
    <th scope="row"><h3>@Model.Id</h3></th>
    <td><h3>@Model.Name</h3></td>
    <td><h3>@Model.Country</h3></td>

    <td>
        <a class="btn btn-primary btn-block"
           asp-controller="Song"
           asp-action="GetAllSongs"
           asp-route-artistName="@Model.Name">View Songs</a>
    </td>
</tr>